@using MvcAsync.Models
@model PeopleViewModel
@{
    ViewBag.Title = "jQuery AJAX";
}

<h2>jQuery AJAX</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody id="tableBody"></tbody>
</table>

<div>
    @Html.DropDownList("selectedRole", new SelectList(Model.Roles))
    <button type="submit" class="btn btn-primary">Submit</button>
</div>

<ul id="filterList">
    @foreach (string role in Model.Roles)
    {
        <li>
            <a href="#">@role</a>
        </li>
    }
</ul>

@section Scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        var processData = function (data) {
            var target = $("#tableBody");
            target.empty();
            var tableBody = '';
            for (var i = 0; i < data.length; i++) {
                var person = data[i];
                tableBody = tableBody + "<tr><td>" + person.FirstName + "</td><td>" + person.LastName + "</td><td>" + person.Role + "</td></tr>";
            }
            target.append(tableBody);
        };

        var update = function (url) {
            $.ajax({
                type: "GET",
                url: url
            }).success(function (responseData) {
                processData(responseData);
            });
        };

        var submit = function () {
            var url = getUrl($('select[name=selectedRole]').val());
            update(url);
        };

        var filter = function (event) {
            var role = event.target.text;
            update(getUrl(role));
        };

        var getUrl = function (role) {
            return '@Url.Action("Json")' + '?selectedRole=' + role
        };

        $(function () {
            processData(JSON.parse('@Html.Raw(@Model.PeopleJson)'));
            $('button[type=submit]').click(submit);
            $('#filterList').click(filter);
        });
    </script>
}
